<div class="page">
  <div class="flex-container">
    <div class="flex-child-left vertical-middle-align">
      <div class="textbox" data-aos="fade-right" data-aos-duration="300">
        <app-tag title="EXPERIENCE"></app-tag>
        <br />
        <br />

        <br />
        <h3>What do I even know?</h3>
        <br />
        <br />
        <h6>
          I graduated with a B.S. in Computer Science at Texas A&M University in
          2023. As far as professional experience, I've done an internship as a
          Software Engineer at Publicis Sapient.
        </h6>
        <br />
        <h6>I love to create web applications in my free time.</h6>
        <br />

        <!-- <div> -->
        <app-button name="RESUME"></app-button>
        <!-- </div> -->
      </div>
    </div>
    <div class="flex-child-right vertical-middle-align horizontal-middle-align">
      <div>
        <img class="vehicle" src="/assets/vehicle.png" alt="vehicle" />
        <img class="tamu-logo" src="/assets/tamu-logo.png" alt="tamu-logo" />
        <img
          class="tamu-card general-card"
          src="/assets/tamu-card.png"
          alt="tamu-card"
        />
        <img class="ps-logo" src="/assets/sapient-logo.png" alt="ps-logo" />
        <img
          class="ps-card general-card"
          src="/assets/ps-card.png"
          alt="ps-card"
        />
      </div>
    </div>
  </div>
</div>

<!-- data-aos="-down-right" data-aos-duration="1000" -->
<!--  -->
