.complete-wallet {
  position: relative;
  width: 500px;
  height: 500px;
}

.item {
  position: absolute;
  top: 0px;
  left: 0px;
  // border: 3px solid #73ad21;
}

.pocket {
  top: 80px;
}

.card {
  left: 20px;
  filter: drop-shadow(30px 10px 74px #0000001e);
}

.tamu-card-and-pocket {
  position: absolute;

  top: 265px;
  left: 90px;
}

.ps-card-and-pocket {
  position: absolute;

  top: 165px;
  left: 90px;
}

// TODO: Fix bounding boxes

@keyframes slide-in {
  from {
    transform: translateX(0%) translateY(0%) rotate(0deg);
  }
  to {
    transform: translateX(-20%) translateY(-110%) rotate(-30deg);
  }
}

.card:hover {
  animation: slide-in 500ms;
  animation-fill-mode: forwards;
}
