/* -------------------------------------------------------------------------- */
/*                                   Testing                                  */
/* -------------------------------------------------------------------------- */

.selected1 {
  border: 3px solid greenyellow;
}

.selected2 {
  border: 3px solid orangered;
}

.selected3 {
  border: 3px solid blueviolet;
}

/* -------------------------------------------------------------------------- */
/*                                  Variables                                 */
/* -------------------------------------------------------------------------- */

:root {
  --primary-color: #f9f9f9;
  --secondary-color: #262626;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* -------------------------------------------------------------------------- */
/*                               Margins & Pages                              */
/* -------------------------------------------------------------------------- */

.margin-left {
  margin-left: 64px;
}

.margin-right {
  margin-right: 64px;
}

.margin-bottom {
  margin-bottom: 64px;
}

.page {
  height: 100vh;
  // width: 100vw;
  min-width: 100%;
  width: 100%;
}

.large-page {
  height: auto;
}

.textbox {
  @extend .margin-left;
  width: 543px;
}

/* -------------------------------------------------------------------------- */
/*                                    Fonts                                   */
/* -------------------------------------------------------------------------- */

@font-face {
  font-family: "Medium Neue Montreal";
  src: url(./assets/Neue-Montreal/Medium.otf);
}

@font-face {
  font-family: "Bold Neue Montreal";
  src: url(./assets/Neue-Montreal/Bold.otf);
}

p {
  font-family: "Medium Neue Montreal";
  font-size: 13px;
}

h1 {
  // for home title
  font-family: "Dela Gothic One";
  font-size: 128px;
  line-height: 120px;
}

h3 {
  // for page titles
  font-family: "Dela Gothic One";
  font-size: 64px;
  line-height: 60px;
}

h5 {
  // for headings
  font-family: "Bold Neue Montreal";
  font-size: 23px;
}

h6 {
  // for page texts
  font-family: "Medium Neue Montreal";
  font-size: 20px;
  // line-height: 15px;
}

// TODO:

h2 {
  // for home title
  // font-family: "Dela Gothic One";
  // font-size: 40px;
  // line-height: 40px;
}

@font-face {
  font-family: "Neue Montreal Regular";
  src: url(/assets/Neue-Montreal/NeueMontreal-Regular.otf);
}

.regular-font {
  font-family: "Neue Montreal Regular";
  font-size: 20px;
}

/* -------------------------------------------------------------------------- */
/*                                  Alignment                                 */
/* -------------------------------------------------------------------------- */

.vertical-middle-align {
  display: flex;
  align-items: center;
}

.horizontal-middle-align {
  display: flex;
  justify-content: center;
}

.right {
  margin-left: auto;
  text-align: right;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.fixed-bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

/* -------------------------------------------------------------------------- */
/*                                 Appearance                                 */
/* -------------------------------------------------------------------------- */

.hidden {
  opacity: 0;
  transition: all 1s;
}

.show {
  opacity: 1;
}

/* -------------------------------------------------------------------------- */
/*                            Splitting Containers                            */
/* -------------------------------------------------------------------------- */

.flex-container {
  display: flex;
  border-radius: 36px;
  height: 100%;
  width: 100%;
}

.flex-child {
  flex: 1;
  background-color: transparent;
}

.box-1 {
  flex: 40;
}

.box-2 {
  flex: 60;
  position: relative;
  overflow: hidden;
}
