/* You can add global styles to this file, and also import other style files */

// @import "node_modules/bootstrap/scss/bootstrap";

:root {
  --primary-color: #f9f9f9;
  --secondary-color: #262626;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.selected1 {
  border: 3px solid greenyellow;
}

.selected2 {
  border: 3px solid orangered;
}

.selected3 {
  border: 3px solid blueviolet;
}

.margin-left {
  margin-left: 64px;
}

.margin-right {
  margin-right: 64px;
}

.margin-bottom {
  margin-bottom: 64px;
}

.page {
  height: 100vh;
  // width: 100vw;
  min-width: 100%;
  width: 100%;
}

.large-page {
  height: auto;
}

.textbox {
  @extend .margin-left;
  width: 543px;
}

.vertical-middle-align {
  display: flex;
  align-items: center;
}

////////////////////////////////////////////////////////////

@font-face {
  font-family: "Medium Neue Montreal";
  src: url(./assets/Neue-Montreal/Medium.otf);
}

@font-face {
  font-family: "Bold Neue Montreal";
  src: url(./assets/Neue-Montreal/Bold.otf);
}

p {
  font-family: "Medium Neue Montreal";
  font-size: 13px;
}

h1 {
  // for home title
  font-family: "Dela Gothic One";
  font-size: 128px;
  line-height: 120px;
}

h3 {
  // for page titles
  font-family: "Dela Gothic One";
  font-size: 64px;
  line-height: 60px;
}

h5 {
  // for headings
  font-family: "Bold Neue Montreal";
  font-size: 23px;
}

h6 {
  // for page texts
  font-family: "Medium Neue Montreal";
  font-size: 20px;
  // line-height: 15px;
}

// @import "node_modules/bootstrap/scss/bootstrap";

// FONTS

h2 {
  // for home title
  font-family: "Dela Gothic One";
  font-size: 40px;
  line-height: 40px;
}

// .accent-color {
//   color: var(--accent-color);
// }

////////////////////////////////////////////////////////////

@font-face {
  font-family: "Neue Montreal Regular";
  src: url(/assets/Neue-Montreal/NeueMontreal-Regular.otf);
}

.regular-font {
  font-family: "Neue Montreal Regular";
  font-size: 20px;
}

////////////////////////////////////////////////////////////

.right {
  margin-left: auto;
  text-align: right;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.fixed-bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

////////////////////////////////////////////////////////////
.hidden {
  opacity: 0;
  transition: all 1s;
}

.show {
  opacity: 1;
}
