<div class="page large-page">
  <br /><br /><br />
  <div class="textbox center">
    <br />
    <br />
    <br />
    <h5>PROJECTS</h5>
    <h2>Check out my portfolio!</h2>
  </div>
  <div style="margin-left: 64px; margin-right: 64px">
    <app-project
      version="1"
      type="WEB APPLICATION"
      name="Spotify Arcade"
      url="https://spotify.com/"
      [comments]="[
        'Certified high-quality app through Spotify',
        'Loved by many'
      ]"
      [images]="['/assets/spotify1.png', '/assets/spotify2.png']"
    ></app-project>

    <app-project
      version="2"
      type="MOBILE APPLICATION"
      name="RemindMe!"
      url=""
      [comments]="['1', '2', '2', '2', '2']"
      [images]="['1', '2', '3']"
    ></app-project>

    <br /><br />
    <br /><br />

    <!-- <app-project></app-project> -->

    <!-- <app-project></app-project> -->
  </div>
</div>
