<!-- <div class="sticky">hello</div> -->

<!-- type 1 -->

<!-- TODO: keep this in and move everything else into projects -->

<!-- <ng-container *ngIf="version == '1'">
        <div class="web-image web-image1">
          <img class="" [src]="images[0]" alt="web-image1" />
        </div>
        <div class="web-image web-image2">
          <img class="" [src]="images[1]" alt="web-image2" />
        </div>
      </ng-container> -->

<!-- TODO: need full page space -->

<!-- <div class="scroll-container selected1">
  <div class="header">
    <img class="idk idk1 selected2" [src]="images[0]" alt="web-image1" />
    <img class="idk idk2 selected3" [src]="images[1]" alt="web-image2" />
  </div>
</div> -->

<!-- <ng-container *ngIf="version == '2'">
        <div class="mob-image mob-image1"></div>
        <div class="mob-image mob-image2"></div>
        <div class="mob-image mob-image3"></div>
      </ng-container> -->

<!-- 
<div class="sc-fMiknA gdzMJT">
  <div height="140" class="sc-dVhcbM gYZKZF">
    <img
      src="/PLST.5e6755a7.png"
      alt="fastRetailingPLST"
      class="sc-hMqMXs iYRHw"
      style="transform: translate(0px, -101.987%) scale(0.7)"
    /><img
      src="/GU2.c7a9fa12.png"
      alt="fastRetailingGU2"
      class="sc-kEYyzF bxGsZM"
      style="transform: translate(0px, -40.7949%) scale(0.6)"
    /><img
      src="/UQ.44b0e7b2.png"
      alt="fastRetailingUQ"
      class="sc-jKJlTe dILFga"
      style="transform: translate(0px, -305.962%)"
    /><img
      src="/GU.b6f34d05.png"
      alt="fastRetailingGU"
      class="sc-eNQAEJ eVzWMa"
      style="transform: translate(0px, -163.179%) scale(0.9)"
    />
  </div>
</div> -->
