.title-sizing {
  font-family: "Dela Gothic One";
  font-size: 13px;
  line-height: 15px;
}

.navbar-container {
  background-color: var(--primary-color);
  width: 100%;
  height: 75px;
  z-index: -100;
}
.navbar {
  overflow: hidden;
  height: 100%;
}
#navbar {
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

.navbar a {
  float: left;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  margin: 0px;
  color: var(--secondary-color);
}

.no-left-padding {
  padding-left: 0px !important;
}

.no-right-padding {
  padding-right: 0px !important;
}

.navbar p:not(.static):hover {
  text-decoration: line-through;
}

// TODO: move remove animation from p webdev

.navbar-right {
  float: right;
}
