<div class="navbar-container" id="navbar">
  <div
    class="navbar margin-left margin-right"
    data-aos="flip-up"
    data-aos-duration="1000"
  >
    <div class="navbar-left">
      <a class="no-left-padding title-sizing" href="#">CESAR</a>
      <a class="no-left-padding" href="#"
        ><p class="static">WEB DEVELOPMENT</p></a
      >
    </div>
    <div class="navbar-right">
      <a href="#"><p>ABOUT</p></a>
      <a href="#"><p>EXPERIENCE</p></a>
      <a href="#"><p>PROJECTS</p></a>
      <a class="no-right-padding" href="#"><p>CONTACT</p></a>
    </div>
  </div>
</div>
