<div class="navbar-background bottom-borderv"></div>

<div class="navbar bottom-border">
  <div class="navbar-left">
    <a
      class="no-left-padding"
      href="#"
      data-aos="flip-up"
      data-aos-duration="1000"
      ><h6>CESAR</h6></a
    >
    <a class="no-left-padding" href="#"
      ><p class="static" data-aos="flip-up" data-aos-duration="1000">
        WEB DEVELOPMENT
      </p></a
    >
  </div>
  <div class="navbar-right">
    <a href="#" data-aos="flip-up" data-aos-duration="1000"><p>ABOUT</p></a>
    <a href="#" data-aos="flip-up" data-aos-duration="1000"
      ><p>EXPERIENCE</p></a
    >
    <a href="#" data-aos="flip-up" data-aos-duration="1000"><p>PROJECTS</p></a>
    <a
      class="no-right-padding"
      href="#"
      data-aos="flip-up"
      data-aos-duration="1000"
      ><p>CONTACT</p></a
    >
  </div>
</div>
