.navbar {
  overflow: hidden;
  margin: 20px 64px 0px 64px;
  border-bottom: 1px solid white;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  text-align: center;
  padding: 24px 16px;
  text-decoration: none;
  margin: 0px;
}

.no-left-padding {
  padding-left: 0px !important;
}

.no-right-padding {
  padding-right: 0px !important;
}

/* Change the color of links on hover */
.navbar p:not(.static):hover {
  text-decoration: line-through;
}

/* Right-aligned section inside the top navigation */
.navbar-right {
  float: right;
}

// TODO: move remove animation from p webdev
