<div class="container">
  <h5 class="text">{{ title }}</h5>
  <div class="checkerboard">
    <div class="white square"></div>
    <div class="black square"></div>
    <div class="black square"></div>
    <div class="white square"></div>

    <div class="white square"></div>
    <div class="black square"></div>
    <div class="black square"></div>
    <div class="white square"></div>

    <div class="white square"></div>
    <div class="black square"></div>
    <div class="black square"></div>
    <div class="white square"></div>

    <div class="white square"></div>
    <div class="black square"></div>
    <div class="black square"></div>
    <div class="white square"></div>
  </div>
</div>
