<p>footer works!</p>

<a href="#"><p>LINKEDIN</p></a>
<a href="#"><p>FACEBOOK</p></a>
<a href="#"><p>GITHUB</p></a>

<a href="#"><p>FUENTESIVANCESAR@GMAIL.COM</p></a>
<a href="#"><p>+214 789 0012</p></a>

<!-- 
<div class="navbar">
  <div class="navbar-left">
    <a class="no-left-padding" href="#"><h6>CESAR</h6></a>
    <a class="no-left-padding" href="#"
      ><p class="static">WEB DEVELOPMENT</p></a
    >
  </div>
  <div class="navbar-right">
    <a href="#"><p>ABOUT</p></a>
    <a href="#"><p>EXPERIENCE</p></a>
    <a href="#"><p>PROJECTS</p></a>
    <a class="no-right-padding" href="#"><p>CONTACT</p></a>
  </div>
</div> -->
