.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.bag {
  // 949 × 1018
  height: 100%;
  width: auto;
}

.overlay {
  mix-blend-mode: overlay;
}
