<div class="page selected1">
  <div class="bottom-left margin-left margin-bottom">
    <p data-aos="fade-left" data-aos-duration="1500">
      Welcome to my portfolio. My name is
    </p>
    <h1 data-aos="fade-up" data-aos-duration="900">CESAR</h1>
    <h1 data-aos="fade-up" data-aos-duration="900">FUENTES</h1>
  </div>

  <div
    class="bottom-right margin-right margin-bottom"
    style="width: 304px; text-align: right"
  >
    <h5 data-aos="fade-left" data-aos-duration="2000">
      I'M A SOFTWARE DEVELOPER BASED IN DALLAS, TEXAS WHO SPECIALIZES IN
      BUILDING (AND OCCASIONALLY DESIGNING) EXCEPTIONAL DIGITAL EXPERIENCES.
    </h5>
  </div>
</div>

<!-- data-aos="flip-up" data-aos-duration="1000" -->
