<div class="page selected3" style="font-size: 13px">
  <div class="bottom-left margin-left margin-bottom">
    <p data-aos="fade-left" data-aos-duration="1500">
      Welcome to my portfolio. My name is
    </p>
    <h1 data-aos="fade-up" data-aos-duration="900">CESAR</h1>
    <h1 data-aos="fade-up" data-aos-duration="900">FUENTES</h1>
  </div>

  <img
    class="bottom-right bag"
    src="/assets/home/bag.png"
    alt="bag"
    data-aos="fade-left"
    data-aos-duration="900"
  />

  <div
    class="bottom-right margin-right margin-bottom"
    style="width: 304px; text-align: right"
  >
    <h5 class="overlay" data-aos="fade-left" data-aos-duration="900">
      I'M A SOFTWARE DEVELOPER BASED IN DALLAS, TEXAS WHO SPECIALIZES IN
      BUILDING (AND DESIGNING) EXCEPTIONAL DIGITAL EXPERIENCES.
    </h5>
  </div>
</div>

<!-- data-aos="flip-up" data-aos-duration="1000" -->
