<div class="page selected3">
  <div class="flex-container">
    <div class="flex-child-left vertical-middle-align">
      <div class="textbox" data-aos="fade-right" data-aos-duration="300">
        <app-tag title="ABOUT ME"></app-tag>
        <br />
        <br />

        <br />
        <h3>It's nice to meet you!</h3>
        <br />
        <br />
        <h6>
          My name is Cesar (pronounced like Sentimental Sarcophagus) and I like
          making things that make me happy and that make the world a better
          place.
        </h6>
        <br />
        <h6>
          My interests are all over the place, from creating websites, to
          designing graphics, to volunteering in my community, but it’s all the
          same to me. Creating beautiful, elegant answers in any capacity is
          what I enjoy. It just so happens that at this point in my life, I am
          dedicated to creating efficient and user-friendly applications that
          meet the needs of clients and users.
        </h6>
      </div>
    </div>

    <div class="flex-child-right vertical-middle-align horizontal-middle-align">
      <div
        class="flip-card-container"
        data-aos="fade-up"
        data-aos-duration="300"
      >
        <div class="flip-card">
          <div class="flip-card-front">
            <img
              class="card"
              src="/assets/about/badge-front.png"
              alt="card-front"
            />
          </div>
          <div class="flip-card-back">
            <img
              class="card"
              src="/assets/about/badge-back.png"
              alt="card-back"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- data-aos="-down-right" data-aos-duration="1000" -->
