<div class="page middle">
  <div class="textbox" data-aos="fade-down-right" data-aos-duration="1000">
    <h5 class="">ABOUT</h5>
    <h2 class="">It's nice to meet you!</h2>
    <br />
    <br />
    <p class="">
      I am a highly skilled and passionate software engineer with a strong
      background in developing high-quality software solutions. With a love for
      problem-solving and a keen eye for detail. I am dedicated to creating
      efficient and user-friendly applications that meet the needs of clients
      and users.
    </p>
    <br />
    <br />
    <!-- <div class="button"></div> -->
    <app-button
      name="LINKEDIN"
      url="https://www.linkedin.com/in/cesarivanfuentes/"
    ></app-button>
  </div>
</div>
